<!doctype html>
<html lang="pt-br">
<%- include('partials/head.ejs'); %>
<body>
<%- include('partials/header.ejs'); %> <!--header-->

<div class="wrapper">
    <%- include('partials/navbar.ejs'); %> <!--navbar-->
    <article class="content">
        <h1>Posts</h1>
    </article>
</div>

<%- include('partials/footer.ejs'); %> <!--footer-->


<%- include('partials/foot.ejs'); %>
</body>
</html>